$bordercolor1: "#234d76";

.Subtitle1 {
    font-size: 16px;

    p {
        color: #193754;
    }
}

%Title {
  color: #326da8;
  place-self: center stretch;
  font-family:sans-serif;
  font-size: 48px;
  padding: 20px;
  text-align: center;
}

.TitleIndex {
  @extend %Title;
      background-color:#fcfcfc ;
}

.TitleHistory {
  @extend %Title;
      background-color:#f4f4f6 ;
}

.TitlePhoto {
  @extend %Title;
      background-color:#e9e9ed ;
}

.TitleSample {
  @extend %Title;
      background-color:#dddfe3 ;
}


.grid {
    background-color: #234d76;
    display: grid;
    padding: 1px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-columns: auto auto auto auto;
  }

.grid-itemHome {
    background-color: #f2f6fb;
    place-self: center stretch;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.grid-itemHistory {
    background-color: #d2e2f2;
    place-self: center stretch;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.grid-itemPhoto {
    background-color: #a5c5e4;
    place-self: center stretch;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.grid-itemSamples {
    background-color: #79a8d7;
    place-self: center stretch;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.grid-itemHome:hover {
    background-color:#fdeddd; }

.grid-itemHistory:hover {
    background-color:#f7b878  ; }

.grid-itemPhoto:hover {
    background-color:#f39537; }

.grid-itemSamples:hover {
    background-color:#bc630b; }

#top {
  background-color: white;
  color:#193754;
  place-self: center stretch;
  font-family: sans-serif;
  font-size: 16px;
  padding: 40px;
  text-align:justify; ;
}
#top::before {
  content: ">>Read this:";
  color:blue ;
  font-weight: bold;
}
.TitleIndex {

}
.TitleHistory {

}
.TitlePhoto {

}
.TitleSample {

}
.Subtitle1 {
  background-color: #6faeed;
  color: blue;
  place-self: center stretch;
  font-size: 32px;
  padding: 20px;
  text-align: center;
}

ul > li {
  color: #153cb1;
  place-self: center stretch;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}
.table1{
 border-collapse: collapse;
 border: 1px solid $bordercolor1;
 th:1px solid $bordercolor1;
 td:1px solid $bordercolor1;
}

.table1 th {
  background-color: #e2effb;
  border-bottom: 1px solid #234d76;
  color:#193754;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.table1 tr:nth-child(even){
 background-color: #f6fafe;
}

@media (min-width: 500px)  {
    body img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:1200px;
      height:auto;
    }
}

@media (max-width: 499px) {
    body img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:400px;
      height:auto;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > img {

    margin: 20px;
    padding: 10px;
    width: 400px;
}

.row > div {
        height: 100px;
        padding: 10px;
        background-color: #e2effb;
        border: 1px solid black;
}

.columntext{
        background-color: #e2effb;
        color:#193754;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        text-align: center
}
